<div class="site-topbar">
    <nav class="nav col-xs-12 col-md-8">
        <a [routerLink]="home.link"><img class="logo" [src]="home.img"></a>
        <a class="_dynamic" *ngFor="let item of nav" [routerLink]="item.link" routerLinkActive="active" [routerLinkActiveOptions]="item.exact">{{item.name}}</a>
    </nav>
    <div class="social-media-icons col-xs-12 col-md-4">
        <a *ngFor="let item of socialMediaIcons" [href]="item.link" target="item.target"><img [src]="item.img"/></a>
    </div>
</div>ü